<?xml version="1.0" encoding="UTF-8"?>
<!--
	Application context definition for Quiz on Hibernate.
--> 		
			<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:p="http://www.springframework.org/schema/p"
		xmlns:context="http://www.springframework.org/schema/context" 
		xmlns:jdbc="http://www.springframework.org/schema/jdbc" 
		xmlns:jee="http://www.springframework.org/schema/jee" 
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
			http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd 
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">
			
			<!-- 
			<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
			 -->
<!-- 
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
		xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">
			 -->
		

	<!-- ========================= RESOURCE DEFINITIONS ========================= -->

	<!-- Configurer that replaces ${...} placeholders with values from a properties file -->
	<!-- (in this case, JDBC-related settings for the dataSource definition below) -->
	<context:property-placeholder location="classpath:jdbc.properties"/>

	<!--
		Uses Apache Commons DBCP for connection pooling. See Commons DBCP documentation
		for the required JAR files. Alternatively you can use another connection pool
		such as C3P0, similarly configured using Spring.
	-->
	<!-- 	 
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"
			p:driverClassName="${jdbc.driverClassName}" p:url="${jdbc.url}" p:username="${jdbc.username}"
			p:password="${jdbc.password}"/>
		  -->
	<!--  -->
	    
     <jee:jndi-lookup id="dataSource" resource-ref="true" jndi-name="jdbc/missdb"/>
      
	<!-- JNDI DataSource for JEE environments -->
       <!--
         
		<jee:jndi-lookup id="dataSource" jndi-name="java:/comp/env/jdbc/officeDS" resource-ref="true"/>
    	
		 
		<jee:jndi-lookup id="dataSource" jndi-name="jdbc/localOracle"/>
	
	     -->
	     <!-- 
	 <jee:jndi-lookup id="dataSource" resource-ref="true" jndi-name="jdbc/appdb"/>
	 -->
	 
	 <!-- 
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean"
	 -->
	 <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean"
	p:dataSource-ref="dataSource" >
  		 <property name="dataSource" ref="dataSource"/>
  		 <property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				<prop key="hibernate.generate_statistics">${hibernate.generate_statistics}</prop>		
				<prop key="hibernate.connection.autocommit">false</prop>
				<!-- 
				<prop key="hibernate.hbm2ddl.auto">create</prop>
				 --> 
			</props>	
		</property>
  		 <!-- 
  		 <property name="annotatedPackages">
     		<list>
       			<value>test.package</value>
     		</list>
   		</property>
   		 -->
   		 <property name="annotatedClasses">
     		<list>
     		<!--  
			 -->
			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.MissAccount</value>
			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.MissAccountSeriesMap</value>
 			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.MissCandidate</value>
			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.MissChoice</value>
			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.MissEvaluationTemplate</value>
			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.MissExam</value>
			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.MissExamGroup</value>
			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.MissExamType</value>
			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.MissQuestion</value>
			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.MissSeriesMap</value>
			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.MissSery</value>
			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.MissSurveySend</value>
			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.MissTemplate</value>
			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.MissTest</value>
			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.MissTestResult</value>
			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.MissTodo</value>
			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.MissAttach</value>
			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.MissContact</value>
			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.MissManual</value>
			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.MissSeriesAttach</value>
				<!--  -->
			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.MissEvaluationCalcuation</value>
 			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.MissEvaluationCode</value>
 			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.MissEvaluationMessage</value>
 			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.MissEvaluationTemplate</value>
 			 
 			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.RoleContact</value>
 			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.RoleMapping</value>
 			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.RoleType</value>
 			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.UserContact</value> 			
 			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.User</value>
 			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.Role</value>
 			 
 			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.MissEvaluationConfig</value>
 			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.MissTestShow</value>
 			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.MissTheme</value>  
			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.MissCareerMaster</value> 
			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.MissIndustryMaster</value>  
			 
			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.MissAccountGroup</value> 
			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.MissAccountMapping</value>
			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.MissReactiveLog</value>
			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.MissSeryOrder</value>
			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.MissSeryProblem</value>
			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.MissSeryUse</value>
			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.MissSystemUse</value>
			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.MissSaleMap</value>
			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.MissDataChart</value>
			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.MissEptEvalBehavioralValue</value>
			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.MissEptPlusWorkWheelMessage</value>
			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.MissEptDominance</value>
			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.MissEptAttitudeDetectorReport</value> 
			 <value>th.co.aoe.makedev.missconsult.hibernate.bean.MissEptTraitsDetector</value> 
			</list>
   		</property>
   		<!-- 
   		 <property name="packagesToScan" value="com.example.domain" />
   		 -->
   		<!-- <property name="eventListeners">
			<map>
				<entry key="merge">
					<bean class="org.springframework.orm.hibernate3.support.IdTransferringMergeEventListener"/>
				</entry>
			</map>
		</property>  -->
 	</bean> 	 
	<!-- Hibernate SessionFactory -->
	<!-- 
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean"
			p:dataSource-ref="dataSource"> 
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				<prop key="hibernate.generate_statistics">${hibernate.generate_statistics}</prop>				
			</props>	
		</property>
		
		<property name="mappingResources">
			<list>
			 
			</list>
		</property>
		 
		<property name="eventListeners">
			<map>
				<entry key="merge">
					<bean class="org.springframework.orm.hibernate3.support.IdTransferringMergeEventListener"/>
				</entry>
			</map>
		</property> 
	</bean>
-->
	<!-- Transaction manager for a single Hibernate SessionFactory (alternative to JTA) -->
	<!--  
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager"
			p:sessionFactory-ref="sessionFactory"/>
		-->	
		<!-- 
	 <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager"
			p:sessionFactory-ref="sessionFactory"/>
			 -->
	  
 	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager"
 		p:sessionFactory-ref="sessionFactory"/>
 	 
	<!-- Transaction manager that delegates to JTA (for a transactional JNDI DataSource) -->
	 <!-- 
	<bean id="transactionManager" class="org.springframework.transaction.jta.JtaTransactionManager"/>
  -->
  <!-- 
	 <bean id="transactionManager" class="org.springframework.transaction.jta.JtaTransactionManager"
	 p:sessionFactory-ref="sessionFactory"/>
	  -->
	<!--
	<bean id="wsJtaTm" class="org.springframework.transaction.jta.WebSphereTransactionManagerFactoryBean"/>
 <bean id="transactionManager" class="org.springframework.transaction.jta.JtaTransactionManager">
 <property name="transactionManager ref="wsJtaTm"/>
 </bean>
 <bean id="transactionManager" class="org.springframework.transaction.jta.JtaTransactionManager"/>
 -->
	

	<!-- ========================= BUSINESS OBJECT DEFINITIONS ========================= -->

	<!--
		Activates various annotations to be detected in bean classes:
		Spring's @Required and @Autowired, as well as JSR 250's @Resource.
	-->
	<context:annotation-config/>

	<!--
		Instruct Spring to perform declarative transaction management
		automatically on annotated classes.
	-->
	  <!-- 
	<tx:annotation-driven/>
	  -->
	<!--  -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<!--
		Exporter that exposes the Hibernate statistics service via JMX. Autodetects the
		service MBean, using its bean name as JMX object name.
	-->
	<context:mbean-export/> 
 	 
 	<bean id="missExamService" class="th.co.aoe.makedev.missconsult.hibernate.HibernateMissExam">
		<property name="sessionAnnotationFactory" ref="sessionFactory"></property>	 
	</bean>
		<bean id="missExamGroupService" class="th.co.aoe.makedev.missconsult.hibernate.HibernateMissExamGroup">
		<property name="sessionAnnotationFactory" ref="sessionFactory"></property>	 
	</bean>
	<bean id="missAccountService" class="th.co.aoe.makedev.missconsult.hibernate.HibernateMissAccount">
		<property name="sessionAnnotationFactory" ref="sessionFactory"></property>	 
	</bean>
	<bean id="missAccountSeriesMapService" class="th.co.aoe.makedev.missconsult.hibernate.HibernateMissAccountSeriesMap">
		<property name="sessionAnnotationFactory" ref="sessionFactory"></property>	 
	</bean>
	<bean id="missCandidateService" class="th.co.aoe.makedev.missconsult.hibernate.HibernateMissCandidate">
		<property name="sessionAnnotationFactory" ref="sessionFactory"></property>	 
	</bean>
	<bean id="missChoiceService" class="th.co.aoe.makedev.missconsult.hibernate.HibernateMissChoice">
		<property name="sessionAnnotationFactory" ref="sessionFactory"></property>	 
	</bean>
	<bean id="missEvaluationTemplateService" class="th.co.aoe.makedev.missconsult.hibernate.HibernateMissEvaluationTemplate">
		<property name="sessionAnnotationFactory" ref="sessionFactory"></property>	 
	</bean>
	<bean id="missExamTypeService" class="th.co.aoe.makedev.missconsult.hibernate.HibernateMissExamType">
		<property name="sessionAnnotationFactory" ref="sessionFactory"></property>	 
	</bean>
	<bean id="missQuestionService" class="th.co.aoe.makedev.missconsult.hibernate.HibernateMissQuestion">
		<property name="sessionAnnotationFactory" ref="sessionFactory"></property>	 
	</bean>
	<bean id="missSeriesMapService" class="th.co.aoe.makedev.missconsult.hibernate.HibernateMissSeriesMap">
		<property name="sessionAnnotationFactory" ref="sessionFactory"></property>	 
	</bean>
	<bean id="missSeryService" class="th.co.aoe.makedev.missconsult.hibernate.HibernateMissSery">
		<property name="sessionAnnotationFactory" ref="sessionFactory"></property>	 
	</bean>
	<bean id="missSurveySendService" class="th.co.aoe.makedev.missconsult.hibernate.HibernateMissSurveySend">
		<property name="sessionAnnotationFactory" ref="sessionFactory"></property>	 
	</bean>
	<bean id="missTemplateService" class="th.co.aoe.makedev.missconsult.hibernate.HibernateMissTemplate">
		<property name="sessionAnnotationFactory" ref="sessionFactory"></property>	 
	</bean>
	<bean id="missTestService" class="th.co.aoe.makedev.missconsult.hibernate.HibernateMissTest">
		<property name="sessionAnnotationFactory" ref="sessionFactory"></property>	 
	</bean>
	<bean id="missTestResultService" class="th.co.aoe.makedev.missconsult.hibernate.HibernateMissTestResult">
		<property name="sessionAnnotationFactory" ref="sessionFactory"></property>	 
	</bean>
	<bean id="missTodoService" class="th.co.aoe.makedev.missconsult.hibernate.HibernateMissTodo">
		<property name="sessionAnnotationFactory" ref="sessionFactory"></property>	 
	</bean>
	<bean id="missAttachService" class="th.co.aoe.makedev.missconsult.hibernate.HibernateMissAttach">
		<property name="sessionAnnotationFactory" ref="sessionFactory"></property>	 
	</bean>
	
	<bean id="missContactService" class="th.co.aoe.makedev.missconsult.hibernate.HibernateMissContact">
		<property name="sessionAnnotationFactory" ref="sessionFactory"></property>	 
	</bean>
	<bean id="missManualService" class="th.co.aoe.makedev.missconsult.hibernate.HibernateMissManual">
		<property name="sessionAnnotationFactory" ref="sessionFactory"></property>	 
	</bean>
	<bean id="missSeriesAttachService" class="th.co.aoe.makedev.missconsult.hibernate.HibernateMissSeriesAttach">
		<property name="sessionAnnotationFactory" ref="sessionFactory"></property>	 
	</bean>
	
	<!-- Add -->
	<bean id="roleTypeService" class="th.co.aoe.makedev.missconsult.hibernate.HibernateRoleType">
		<property name="sessionAnnotationFactory" ref="sessionFactory"></property>	 
	</bean>
		<bean id="roleContactService" class="th.co.aoe.makedev.missconsult.hibernate.HibernateRoleContact">
		<property name="sessionAnnotationFactory" ref="sessionFactory"></property>	 
	</bean>
	<bean id="roleMappingService" class="th.co.aoe.makedev.missconsult.hibernate.HibernateRoleMapping">
		<property name="sessionAnnotationFactory" ref="sessionFactory"></property>	 
	</bean>
	<bean id="missThemeService" class="th.co.aoe.makedev.missconsult.hibernate.HibernateMissTheme">
		<property name="sessionAnnotationFactory" ref="sessionFactory"></property>	 
	</bean>
	<bean id="missCareerMasterService" class="th.co.aoe.makedev.missconsult.hibernate.HibernateMissCareerMaster">
		<property name="sessionAnnotationFactory" ref="sessionFactory"></property>	 
	</bean> 
	<bean id="missIndustryMasterService" class="th.co.aoe.makedev.missconsult.hibernate.HibernateMissIndustryMaster">
		<property name="sessionAnnotationFactory" ref="sessionFactory"></property>	 
	</bean>
	
	<!--  Adding Manage Report Service -->
	<bean id="missAccountGroupService" class="th.co.aoe.makedev.missconsult.hibernate.HibernateMissAccountGroup">
		<property name="sessionAnnotationFactory" ref="sessionFactory"></property>	 
	</bean>
	<bean id="missAccountMappingService" class="th.co.aoe.makedev.missconsult.hibernate.HibernateMissAccountMapping">
		<property name="sessionAnnotationFactory" ref="sessionFactory"></property>	 
	</bean>
	<bean id="missReactiveLogService" class="th.co.aoe.makedev.missconsult.hibernate.HibernateMissReactiveLog">
		<property name="sessionAnnotationFactory" ref="sessionFactory"></property>	 
	</bean>
	<bean id="missSeryOrderService" class="th.co.aoe.makedev.missconsult.hibernate.HibernateMissSeryOrder">
		<property name="sessionAnnotationFactory" ref="sessionFactory"></property>	 
	</bean>
	<bean id="missSeryProblemService" class="th.co.aoe.makedev.missconsult.hibernate.HibernateMissSeryProblem">
		<property name="sessionAnnotationFactory" ref="sessionFactory"></property>	 
	</bean>
	<bean id="missSeryUseService" class="th.co.aoe.makedev.missconsult.hibernate.HibernateMissSeryUse">
		<property name="sessionAnnotationFactory" ref="sessionFactory"></property>	 
	</bean>
	<bean id="missSystemUseService" class="th.co.aoe.makedev.missconsult.hibernate.HibernateMissSystemUse">
		<property name="sessionAnnotationFactory" ref="sessionFactory"></property>	 
	</bean>
	 
	<bean id="eptNormReportService" class="th.co.aoe.makedev.missconsult.hibernate.HibernateEPTNormReport">
		<property name="sessionAnnotationFactory" ref="sessionFactory"></property>	 
	</bean>
	<bean id="customerReportService" class="th.co.aoe.makedev.missconsult.hibernate.HibernateCustomerReport">
		<property name="sessionAnnotationFactory" ref="sessionFactory"></property>	 
	</bean>
	<bean id="serviceReportService" class="th.co.aoe.makedev.missconsult.hibernate.HibernateServiceReport">
		<property name="sessionAnnotationFactory" ref="sessionFactory"></property>	 
	</bean>
	<bean id="productReportService" class="th.co.aoe.makedev.missconsult.hibernate.HibernateProductReport">
		<property name="sessionAnnotationFactory" ref="sessionFactory"></property>	 
	</bean> 
	<bean id="consultantReportService" class="th.co.aoe.makedev.missconsult.hibernate.HibernateConsultantReport">
		<property name="sessionAnnotationFactory" ref="sessionFactory"></property>	 
	</bean>
</beans>
