<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
 
  <!--  
    missExamResource
    missExamGroupResource
 	missAccountResource
 	missAccountSeriesMapResource
 	missCandidateResource
 	missChoiceResource
 	missEvaluationTemplateResource
 	missExamTypeResource
 	missQuestionResource
 	missSeriesMapResource
 	missSeryResource
 	missSurveySendResource
 	missTemplateResource
 	missTestResource
 	missTestResultResource
 	missTodoResource 
 	-->
 	<bean id="missExamResource"
		class="th.co.aoe.makedev.missconsult.rest.resource.MissExamResource"
		scope="prototype"> 
		<property name="missExamService" ref="missExamService"></property> 
		<property name="xstream" ref="xstream"></property>
	</bean>  
	<bean id="missExamGroupResource"
		class="th.co.aoe.makedev.missconsult.rest.resource.MissExamGroupResource"
		scope="prototype"> 
		<property name="missExamGroupService" ref="missExamGroupService"></property> 
		<property name="xstream" ref="xstream"></property>
	</bean> 
	<bean id="missAccountResource"
		class="th.co.aoe.makedev.missconsult.rest.resource.MissAccountResource"
		scope="prototype"> 
		<property name="missAccountService" ref="missAccountService"></property> 
		<property name="xstream" ref="xstream"></property>
	</bean> 
	<bean id="missAccountSeriesMapResource"
		class="th.co.aoe.makedev.missconsult.rest.resource.MissAccountSeriesMapResource"
		scope="prototype"> 
		<property name="missAccountSeriesMapService" ref="missAccountSeriesMapService"></property> 
		<property name="missAccountService" ref="missAccountService"></property>
		
		<property name="xstream" ref="xstream"></property>
	</bean> 
	<bean id="missCandidateResource"
		class="th.co.aoe.makedev.missconsult.rest.resource.MissCandidateResource"
		scope="prototype"> 
		<property name="missCandidateService" ref="missCandidateService"></property> 
		<property name="xstream" ref="xstream"></property>
	</bean> 
	<bean id="missChoiceResource"
		class="th.co.aoe.makedev.missconsult.rest.resource.MissChoiceResource"
		scope="prototype"> 
		<property name="missChoiceService" ref="missChoiceService"></property> 
		<property name="xstream" ref="xstream"></property>
	</bean> 
	<bean id="missEvaluationTemplateResource"
		class="th.co.aoe.makedev.missconsult.rest.resource.MissEvaluationTemplateResource"
		scope="prototype"> 
		<property name="missEvaluationTemplateService" ref="missEvaluationTemplateService"></property> 
		<property name="xstream" ref="xstream"></property>
	</bean> 
	<bean id="missExamTypeResource"
		class="th.co.aoe.makedev.missconsult.rest.resource.MissExamTypeResource"
		scope="prototype"> 
		<property name="missExamTypeService" ref="missExamTypeService"></property> 
		<property name="xstream" ref="xstream"></property>
	</bean> 
	<bean id="missQuestionResource"
		class="th.co.aoe.makedev.missconsult.rest.resource.MissQuestionResource"
		scope="prototype"> 
		<property name="missQuestionService" ref="missQuestionService"></property>
		<property name="missChoiceService" ref="missChoiceService"></property>  
		<property name="xstream" ref="xstream"></property>
	</bean> 
	<bean id="missSeriesMapResource"
		class="th.co.aoe.makedev.missconsult.rest.resource.MissSeriesMapResource"
		scope="prototype"> 
		<property name="missSeriesMapService" ref="missSeriesMapService"></property> 
		<property name="xstream" ref="xstream"></property>
	</bean> 
	<bean id="missSeryResource"
		class="th.co.aoe.makedev.missconsult.rest.resource.MissSeryResource"
		scope="prototype"> 
		<property name="missSeryService" ref="missSeryService"></property> 
		<property name="xstream" ref="xstream"></property>
	</bean> 
	<bean id="missSurveySendResource"
		class="th.co.aoe.makedev.missconsult.rest.resource.MissSurveySendResource"
		scope="prototype"> 
		<property name="missSurveySendService" ref="missSurveySendService"></property> 
		<property name="xstream" ref="xstream"></property>
	</bean> 
	<bean id="missTemplateResource"
		class="th.co.aoe.makedev.missconsult.rest.resource.MissTemplateResource"
		scope="prototype"> 
		<property name="missTemplateService" ref="missTemplateService"></property> 
		<property name="xstream" ref="xstream"></property>
	</bean> 
	<bean id="missTestResource"
		class="th.co.aoe.makedev.missconsult.rest.resource.MissTestResource"
		scope="prototype"> 
		<property name="missTestService" ref="missTestService"></property> 
		<property name="xstream" ref="xstream"></property>
	</bean> 
	<bean id="missTestResultResource"
		class="th.co.aoe.makedev.missconsult.rest.resource.MissTestResultResource"
		scope="prototype"> 
		<property name="missTestResultService" ref="missTestResultService"></property> 
		<property name="xstream" ref="xstream"></property>
	</bean> 
	<bean id="missTodoResource"
		class="th.co.aoe.makedev.missconsult.rest.resource.MissTodoResource"
		scope="prototype"> 
		<property name="missTodoService" ref="missTodoService"></property> 
		<property name="xstream" ref="xstream"></property>
	</bean> 
	<bean id="missAttachResource"
		class="th.co.aoe.makedev.missconsult.rest.resource.MissAttachResource"
		scope="prototype"> 
		<property name="missAttachService" ref="missAttachService"></property> 
		<property name="xstream" ref="xstream"></property>
	</bean>  
	 
	<bean id="missContactResource"
		class="th.co.aoe.makedev.missconsult.rest.resource.MissContactResource"
		scope="prototype"> 
		<property name="missContactService" ref="missContactService"></property> 
		<property name="xstream" ref="xstream"></property>
	</bean> 
	<bean id="missManualResource"
		class="th.co.aoe.makedev.missconsult.rest.resource.MissManualResource"
		scope="prototype"> 
		<property name="missManualService" ref="missManualService"></property> 
		<property name="xstream" ref="xstream"></property>
	</bean>  
	<bean id="missDocResource"
		class="th.co.aoe.makedev.missconsult.rest.resource.MissDocResource"
		scope="prototype"> 
		<property name="missDocService" ref="missDocService"></property> 
		<property name="xstream" ref="xstream"></property>
	</bean> 
	<bean id="missSeriesAttachResource"
		class="th.co.aoe.makedev.missconsult.rest.resource.MissSeriesAttachResource"
		scope="prototype"> 
		<property name="missSeriesAttachService" ref="missSeriesAttachService"></property> 
		<property name="xstream" ref="xstream"></property>
	</bean> 
	
	<!-- Add -->
	<bean id="roleTypeResource"
		class="th.co.aoe.makedev.missconsult.rest.resource.RoleTypeResource"
		scope="prototype"> 
		<property name="roleTypeService" ref="roleTypeService"></property> 
		<property name="xstream" ref="xstream"></property>
	</bean> 
	<bean id="roleContactResource"
		class="th.co.aoe.makedev.missconsult.rest.resource.RoleContactResource"
		scope="prototype"> 
		<property name="roleContactService" ref="roleContactService"></property> 
		<property name="xstream" ref="xstream"></property>
	</bean> 
	<bean id="roleMappingResource"
		class="th.co.aoe.makedev.missconsult.rest.resource.RoleMappingResource"
		scope="prototype"> 
		<property name="roleMappingService" ref="roleMappingService"></property> 
		<property name="xstream" ref="xstream"></property>
	</bean> 
	<bean id="roleSeriesMappingResource"
		class="th.co.aoe.makedev.missconsult.rest.resource.RoleSeriesMappingResource"
		scope="prototype"> 
		<property name="roleSeriesMappingService" ref="roleSeriesMappingService"></property> 
		<property name="xstream" ref="xstream"></property>
	</bean> 
	<bean id="missThemeResource"
		class="th.co.aoe.makedev.missconsult.rest.resource.MissThemeResource"
		scope="prototype"> 
		<property name="missThemeService" ref="missThemeService"></property> 
		<property name="xstream" ref="xstream"></property>
	</bean> 
	
	<bean id="missCareerMasterResource"
		class="th.co.aoe.makedev.missconsult.rest.resource.MissCareerMasterResource"
		scope="prototype"> 
		<property name="missCareerMasterService" ref="missCareerMasterService"></property> 
		<property name="xstream" ref="xstream"></property>
	</bean> 
	
	<bean id="missIndustryMasterResource"
		class="th.co.aoe.makedev.missconsult.rest.resource.MissIndustryMasterResource"
		scope="prototype"> 
		<property name="missIndustryMasterService" ref="missIndustryMasterService"></property> 
		<property name="xstream" ref="xstream"></property>
	</bean> 
	<bean id="missPositionMasterResource"
		class="th.co.aoe.makedev.missconsult.rest.resource.MissPositionMasterResource"
		scope="prototype"> 
		<property name="missPositionMasterService" ref="missPositionMasterService"></property> 
		<property name="xstream" ref="xstream"></property>
	</bean> 
	
	<bean id="missDepartmentMasterResource"
		class="th.co.aoe.makedev.missconsult.rest.resource.MissDepartmentMasterResource"
		scope="prototype"> 
		<property name="missDepartmentMasterService" ref="missDepartmentMasterService"></property> 
		<property name="xstream" ref="xstream"></property>
	</bean>
	 
	<!--  Adding Manage Report -->
	<bean id="missAccountGroupResource"
		class="th.co.aoe.makedev.missconsult.rest.resource.MissAccountGroupResource"
		scope="prototype"> 
		<property name="missAccountGroupService" ref="missAccountGroupService"></property> 
		<property name="xstream" ref="xstream"></property>
	</bean> 
	<bean id="missAccountMappingResource"
		class="th.co.aoe.makedev.missconsult.rest.resource.MissAccountMappingResource"
		scope="prototype"> 
		<property name="missAccountMappingService" ref="missAccountMappingService"></property> 
		<property name="xstream" ref="xstream"></property>
	</bean> 
	<bean id="missReactiveLogResource"
		class="th.co.aoe.makedev.missconsult.rest.resource.MissReactiveLogResource"
		scope="prototype"> 
		<property name="missReactiveLogService" ref="missReactiveLogService"></property> 
		<property name="xstream" ref="xstream"></property>
	</bean> 
	<bean id="missSeryOrderResource"
		class="th.co.aoe.makedev.missconsult.rest.resource.MissSeryOrderResource"
		scope="prototype"> 
		<property name="missSeryOrderService" ref="missSeryOrderService"></property> 
		<property name="xstream" ref="xstream"></property>
	</bean> 
	<bean id="missSeryProblemResource"
		class="th.co.aoe.makedev.missconsult.rest.resource.MissSeryProblemResource"
		scope="prototype"> 
		<property name="missSeryProblemService" ref="missSeryProblemService"></property> 
		<property name="xstream" ref="xstream"></property>
	</bean> 
	<bean id="missSeryUseResource"
		class="th.co.aoe.makedev.missconsult.rest.resource.MissSeryUseResource"
		scope="prototype"> 
		<property name="missSeryUseService" ref="missSeryUseService"></property> 
		<property name="xstream" ref="xstream"></property>
	</bean> 
	<bean id="missSystemUseResource"
		class="th.co.aoe.makedev.missconsult.rest.resource.MissSystemUseResource"
		scope="prototype"> 
		<property name="missSystemUseService" ref="missSystemUseService"></property> 
		<property name="xstream" ref="xstream"></property>
	</bean>  
	
	<bean id="eptNormReportResource"
		class="th.co.aoe.makedev.missconsult.rest.resource.EPTNormReportResource"
		scope="prototype"> 
		<property name="eptNormReportService" ref="eptNormReportService"></property> 
		<property name="xstream" ref="xstream"></property>
	</bean>  
	<bean id="customerReportResource"
		class="th.co.aoe.makedev.missconsult.rest.resource.CustomerReportResource"
		scope="prototype"> 
		<property name="customerReportService" ref="customerReportService"></property> 
		<property name="xstream" ref="xstream"></property>
	</bean>
	<bean id="serviceReportResource"
		class="th.co.aoe.makedev.missconsult.rest.resource.ServiceReportResource"
		scope="prototype"> 
		<property name="serviceReportService" ref="serviceReportService"></property> 
		<property name="xstream" ref="xstream"></property>
	</bean>
	<bean id="productReportResource"
		class="th.co.aoe.makedev.missconsult.rest.resource.ProductReportResource"
		scope="prototype"> 
		<property name="productReportService" ref="productReportService"></property> 
		<property name="xstream" ref="xstream"></property>
	</bean>  
	<bean id="consultantReportResource"
		class="th.co.aoe.makedev.missconsult.rest.resource.ConsultantReportResource"
		scope="prototype"> 
		<property name="consultantReportService" ref="consultantReportService"></property> 
		<property name="xstream" ref="xstream"></property>
	</bean>
	<bean id="missReportAttachResource"
		class="th.co.aoe.makedev.missconsult.rest.resource.MissReportAttachResource"
		scope="prototype"> 
		<property name="missReportAttachService" ref="missReportAttachService"></property> 
		<property name="xstream" ref="xstream"></property>
	</bean> 
	<bean id="missSeriesParticipantsMapResource"
		class="th.co.aoe.makedev.missconsult.rest.resource.MissSeriesParticipantsMapResource"
		scope="prototype"> 
		<property name="missSeriesParticipantsMapService" ref="missSeriesParticipantsMapService"></property> 
		<property name="xstream" ref="xstream"></property>
	</bean> 
 
	<bean id="roleSeriesReportMappingResource"
		class="th.co.aoe.makedev.missconsult.rest.resource.RoleSeriesReportMappingResource"
		scope="prototype"> 
		<property name="roleSeriesReportMappingService" ref="roleSeriesReportMappingService"></property> 
		<property name="xstream" ref="xstream"></property>
	</bean>
	
</beans>